langchain 
langchain-google-genai 
duckduckgo-search
langchain-community
langgraph
python-dotenv
yfinance 
requests 
beautifulsoup4
langchain-fmp-data
streamlit
sqlalchemy 
transformers 
accelerate 
torch  
huggingface_hub
plotly
pandas